<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Restaurant Apps</title>
</head>
<body>
  <a  href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header>
    <nav>
       <div class="logo">
           <h3 tabindex="0">Kuys Restaurant</h3>
       </div>

       <div class="menu-toggle" role="button" dan tabindex="0" aria-expanded="false">
          <input type="checkbox">
          <span></span>
          <span></span>
          <span></span>
      </div>

       <ul>
           <li><a href="/">Home</a></li>
           <li><a href="#">Favorite</a></li>
           <li><a href="https://github.com/inndyis">About Us</a></li>
       </ul>
   </nav>
 </header>

  <div class="hero">
      <img class="henpm ro-image" src="./images/heros/hero-image_2.jpg" alt="hero">
  </div>

  <h1 tabindex="0">Explore Restaurant</h1>
  <main id="maincontent">
    <section class="content">
      <div class="posts">
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/41"
             alt="Bring Your Cafe">
        <div class="post-item__content">
          <p tabindex="0" class="post-item_rating">Rating: 4.6</p>
          <p tabindex="0">Kota Medan</p>
          <p tabindex="0" class="post-item__title">Bring Your Phone Cafe </p>
          <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/07"
             alt="Run The Game">
        <div class="post-item__content">
          <p tabindex="0" class="post-item_rating">Rating: 4.6</p>
          <p tabindex="0">Kota Bali</p>
          <p tabindex="0" class="post-item__title">Run The Gun </p>
          <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/29"
             alt="Pangsit Express">
        <div class="post-item__content">
          <p tabindex="0" class="post-item_rating">Rating: 4.8</p>
          <p tabindex="0">Kota Ternate</p>
          <p tabindex="0" class="post-item__title">Pangsit Express </p>
          <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/38"
             alt="Ducky Duck">
        <div class="post-item__content">
          <p tabindex="0"class="post-item_rating">Rating: 4.7</p>
          <p tabindex="0">Kota Malang</p>
          <p tabindex="0" class="post-item__title">Ducky Duck </p>
          <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/40"
             alt="Kafein">
        <div class="post-item__content">
          <p tabindex="0" class="post-item_rating">Rating: 3.8</p>
          <p tabindex="0">Kota Bali</p>
          <p tabindex="0" class="post-item__title">Kafein </p>
          <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/08"
             alt="Makan Mudah">
        <div class="post-item__content">
          <p tabindex="0"class="post-item_rating">Rating: 4.6</p>
          <p tabindex="0">Kota Malang</p>
          <p tabindex="0" class="post-item__title">Makan mudah </p>
          <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/32"
             alt="Saya Suka">
        <div class="post-item__content">
          <p tabindex="0"class="post-item_rating">Rating: 3.6</p>
          <p tabindex="0">Kota Surabaya</p>
          <p tabindex="0" class="post-item__title">Saya Suka</p>
          <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/45"
             alt="Gigitan Cepat">
        <div class="post-item__content">
          <p tabindex="0"class="post-item_rating">Rating: 4</p>
          <p tabindex="0">Kota Aceh</p>
          <p tabindex="0" class="post-item__title">Gigitan Cepat</p>
          <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/04"
             alt="Fairy Cafe">
        <div class="post-item__content">
          <p tabindex="0" class="post-item_rating">Rating: 3.9</p>
          <p tabindex="0">Kota Malang</p>
          <p tabindex="0" class="post-item__title"> Fairy Cafe </p>
          <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      </div>
    </section>
    <footer>
      <h3 tabindex="0" >Copyright © 2023 - Kuys Restaurant</h3>
    </footer>
  </main>
</body>
</html>
